* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 1px;
}

a {
    cursor: url(../css/cursor.cur), auto;
}

body {
    font-family: Arial;
    background-color: #8dc63f;
}

.wrapper {
    margin: 0 auto;
    padding: 0 15rem;
    max-width: 960rem;
    background-color: #fff;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20rem;
    padding-bottom: 26rem;
    padding-top: 25rem;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 10rem;
}

.logo img {
    margin-left: 35rem;
    margin-right: 35rem;
}

.contacts{
    text-align: center;
}

.logo p,
.contacts a {
    font-size: 22rem;
    color: #39930d;
    text-decoration: none;
}

.logo p{
    text-align: center;
}

.contacts a {
    display: block;
    margin-bottom: 8rem;
}

li>a:hover {
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

.logo strong {
    display: block;
    color: #39930d;
    font-size: 44rem;
    font-weight: bold;
}

.logo em,
.contacts em {
    color: #5a5a5a;
    font-size: 14rem;
    font-style: italic;
}

.main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding-bottom: 30rem;
    padding-top: 25rem;
    column-gap: 10px;
}

.main h1 {
    margin-bottom: 17px;
    color: #39930d;
    font-size: 24rem;
    font-weight: bold;
}

.main-picture {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 75%;
    vertical-align: bottom;
}


.main-text {
    padding-bottom: 20rem;
    max-width: 600rem;
}


.main-text p {
    padding-bottom: 15rem;
    max-width: 599rem;
    color: #343434;
    font-size: 14rem;
    line-height: 21rem;
    line-height: 1.5em;
}

.menu {
    width: 100%;
    background-color: #85d81125;
}

.menu ul {
    list-style: none;
    padding-left: 20rem;
}

li>a {
    color: #39930d;
    font-size: 14rem;
    text-transform: uppercase;
    text-decoration: underline;
}


.menu p {
    margin-bottom: 15rem;
    padding: 12rem 20rem;
    max-width: 100%;
    color: #ffffff;
    font-size: 18rem;
    background-color: #39930d;

}

.menu li {
    margin-bottom: 15rem;
}

.footer {
    margin: -15rem;
    padding: 13rem 13rem;
    max-width: 960rem;
    color: #ffffff;
    font-size: 14rem;
    background-color: #39930d;
    line-height: 1.5em;
}


@media screen and (min-width: 425px){
    .logo{
        justify-content: flex-start;
    }
    
    .logo p{
        text-align: left;
    }
}

@media screen and (min-width: 626px){
    .header{
        justify-content: space-between;
    }

    .contacts{
        text-align: right;
    }
    
    .menu{
        min-width: 300rem;
        max-width: 300px;
    }

    .main{
        flex-wrap: nowrap;
    }

    .menu{
        background-color: transparent;
    }
}

@media screen and (min-width: 1440px){
    html{
        font-size: 1.2px;
    }
}

@media screen and (min-width: 2200px){
    html{
        font-size: 1.7px;
    }
}